*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*nav*/
nav{
    width: 100%;
    height: 80px;
}
.zaga{
    width: 100%;
  
    display: flex;

color: black;
    justify-content: space-between;
}
.MENU{
    display: flex;
      justify-content: center;
        align-items: center;
}
.list{
    display: flex;
     width: 100%;
       list-style: none;/*убирает точки*/
       align-items: center;
      margin-left: 20px;
     
      
}
.list li{
        padding: 20px 40px;
        cursor: pointer;
    
    }
    .FOTO{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 40PX;
    }
    .knopka{
        width: 150px;
        height: 35px;
        border: none;
        background: #65256F;
        border-radius: 5px;
        color: white;

    }
  
    /*header*/
    body {
        text-transform: uppercase;
      }
      
      .btnRed {
        color: #fff;
        background: red;
        padding: 10px;
      }
      
      .btnYellow {
        background: orange;
        border-radius: 10px;
        padding: 5px;
        display: inline-block;
      }
    #header {
        height: 100vh;
        background-image: url("./foto1/Rectangle\ 70.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
      #header .dark_overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5019607843);
      }
      #header .dark_overlay .header_content {
        color: #fff;
        display: grid;
        height: 800px;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
      }
      #header .dark_overlay .header_content_text {
        display: grid;
        grid-gap: 10px;
        width: 500px;
        text-transform: uppercase;
      }
      .header_icon{
        text-align: right;
       }
       /*section_one*/
      #section_one{
        width: 100%;
        height: 100vh;
      }
      .section_conteiner_one{
       width: 100%;
        height: 100vh;
      
    }
    .card{
        width: 100%;
        height: 100vh;
      
    }
   
    h3{
      overflow: hidden;
      position: relative;
      margin: 0;
      text-align: center;
      white-space: nowrap;
    }
    h3:before,h3:after{
      content: "";
      display: inline-block;
      position: relative;
      top: -1px;
      width: 50%;
      height: 1px;
      vertical-align: middle;
      background: rgb(156, 152, 152);
    }
    h3:before{
      left: -10px;
      margin-left: -50%;
    }
    h3:after{
      left: 10px;
      margin-right: -50%;
    }
    h3>span{
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
      min-width: 90%;
    }
   
    /*section_two*/
    #section_two{
        width: 100%;
        height: 130vh;

    }
    .section_conteiner_two{
        width: 100%;
         height: 130vh;
       gap: 30px;
      position: absolute;
         
         
     }
     .box{
        width: 415px;
        height: 360px;
     }
     .box1{
background-image: url(./foto1/Rectangle\ 82.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
margin-left: 70px;
filter: brightness(50%);
z-index: 1;

     }
     .box2{
      background-image: url(./foto1/Rectangle\ 79.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      filter: brightness(50%)
     }
     .box3{
        background-image: url(./foto1/Rectangle\ 80.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        filter: brightness(50%)
     }
     .box4{
        background-image: url(./foto1/Rectangle\ 81.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-left: 70px;
        filter: brightness(50%)
     }
     .box5{
        background-image: url(./foto1/Rectangle\ 82.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        filter: brightness(50%)
     }
     .box6{
        background-image: url(./foto1/Rectangle\ 83.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        filter: brightness(50%)
     }
     b{
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: 30PX;
        margin-top: 30px;
        margin-left: 30px;
        color: #fff;
       text-align: center;
       text-align: end;
     }
     /*section_three*/
     #section_three{
        width: 100%;
        height: 60vh;
    }
    .section_conteiner_three{
        width: 100%;
        height: 60vh;
    
        justify-content: center;
        align-items: center;
        gap: 30px;
}
.foto{
    width: 415px;
    height: 360px;
 
}
    .foto1{
        background-image: url(./foto1/Rectangle\ 84.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      margin-left: 70px;
    }
    .foto2{
      background-image: url(./foto1/Rectangle\ 85.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       
    }
    .foto3{
       background-image: url(./foto1/Rectangle\ 86.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
     /*section_four*/
     #section_four{
        width: 100%;
        height: 170vh;
     }
     .section_conteiner_four{
        width: 100%;
        height: 170vh;
       margin-top: 40px;
        
     
     }
     .div{
        width: 300px;
        height:500px;
       
     }
     .img{
       width: 300px;
       height: 400px;
     }
     /*section_five*/
    #section_five{
        width: 100%;
    height: 40vh;
    }
    .section_conteiner_five{
        width: 100%;
        height: 40vh;
        
    }
    /*section_six*/
    #section_six{
        width: 100%;
    height: 90vh;
    }
    .section_conteiner_six{
        width: 100%;
        height: 90vh;
       
    }
    .sixbox{
        width: 400px;
        height: 600px;
        
    }
    .siximg{
        width: 400px;
        height:500px ;
    }
    /*section_seven*/
#section_seven{
  width: 100%;
  height: 40vh;
}
    .section_conteiner_seven{
      width: 100%;
      height: 40vh;
      
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

    } 
    .seven_div{
      width: 100%;
      height: 100px;
text-align: center;
    }
    input{
      width: 300px; 
      height: 40px;
      border-radius: 3px;
      border: none;
       gap: 30px;
       background: rgb(194, 194, 194);
       color: white;
    }
    /*footer*/
    #footer{
      width: 100%;
      height: 50vh;
    } 
    .footer_conteiner{
      width: 100%;
      height: 50vh;
    }
    .block{
      width: 100%;
      height: 50vh;
      background: rgb(43, 42, 42);
display: flex;
justify-content: center;
align-items: center;
gap: 60px;
    }
    .footerbox{
width: 300px;
height: 350px;
color: white;
}
