*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*nav*/
nav{
    width: 100%;
    height: 80px;
}
.zaga{
    width: 100%;
 display: flex;
 color: black;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.MENU{
    display: flex;
      justify-content: center;
        align-items: center;
}
.list{
    display: flex;
     width: 100%;
       list-style: none;/*убирает точки*/
       align-items: center;
      margin-left: 20px;
     
      
}
.list li{
        padding: 20px 40px;
        cursor: pointer;
    
    }
    .FOTO{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 40PX;
    }
    .knopka{
        width: 150px;
        height: 35px;
        border: none;
        background: #65256F;
        border-radius: 5px;
        color: white;

    }
    /*section_one*/
    #section_one{
        width: 100%;
        height: 70vh;
    }
    .section_conteiner_one{
        width: 100%;
        height: 70vh;
    
        gap: 30px;
}
.foto{
    width: 415px;
    height: 360px;
 
}
    .foto1{
        background-image: url(./foto56/Rectangle\ 142.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      margin-left: 70px;
    }
    .foto2{
      background-image: url(./foto56/Rectangle\ 143.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       
    }
    .foto3{
       background-image: url(./foto56/Rectangle\ 144.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    h3{
        overflow: hidden;
        position: relative;
        margin: 0;
        text-align: center;
        white-space: nowrap;
      }
      h3:before,h3:after{
        content: "";
        display: inline-block;
        position: relative;
        top: -1px;
        width: 50%;
        height: 1px;
        vertical-align: middle;
        background: rgb(156, 152, 152);
      }
      h3:before{
        left: -10px;
        margin-left: -50%;
      }
      h3:after{
        left: 10px;
        margin-right: -50%;
      }
      h3>span{
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        min-width: 90%;
      }
     
    /*section_two*/
    #section_two{
        width: 100%;
        height: 100vh;
    }
    .imgend{
        width: 1300px;
        height: 400px;
        background-image: url(./фото3/Rectangle\ 161.png);
        margin-left: 120px;
        display: flex;
    }
    .ikon{
        width: 433px;
        height: 400px;
}
.ikon2{
    width: 433px;
    height: 400px;
    text-align: center;
}
/*footer*/
#footer{
    width: 100%;
    height: 50vh;
  } 
  .footer_conteiner{
    width: 100%;
    height: 50vh;
    
  }
  .block{
    width: 100%;
    height: 50vh;
    background: rgb(43, 42, 42);
display: flex;
justify-content: center;
align-items: center;
gap: 60px;
  }
  .footerbox{
width: 300px;
height: 350px;
color: white;
}
